.allboxes {
margin: 0 auto;
width: 50px;
}

.allboxes:hover :nth-child(odd){
  transform: translate(-650px) rotate(-120deg);
  width: 25px;
  height: 25px;
}

.allboxes:hover :nth-child(even){
  transform: translate(500px) rotate(120deg);
  width: 100px;
  height: 100px;
}

.redsquare {
  height: 50px;
  width: 50px;
  background-color: red;
  margin-bottom: 5px;
  transition: transform 1s;
}

.bluesquare {
  height: 50px;
  width: 50px;
  background-color: blue;
  margin-bottom: 5px;
  transition: transform 4s;
}

.yellowsquare {
  height: 50px;
  width: 50px;
  background-color: yellow;
  margin-bottom: 5px;
  transition: transform 1s;

}

.graysquare {
  height: 50px;
  width: 50px;
  background-color: gray;
  margin-bottom: 5px;
  transition: transform 4s;
}

.purplesquare {
  height: 50px;
  width: 50px;
  background-color: purple;
  margin-bottom: 5px;
  transition: transform 1s;
}

.greensquare {
  height: 50px;
  width: 50px;
  background-color: green;
  margin-bottom: 5px;
  transition: transform 4s;
}

.pinksquare {
  height: 50px;
  width: 50px;
  background-color: pink;
  margin-bottom: 5px;
  transition: transform 1s;
}

.lightbluesquare {
  height: 50px;
  width: 50px;
  background-color: lightblue;
  margin-bottom: 5px;
  transition: transform 4s;
}

.beigesquare {
  height: 50px;
  width: 50px;
  background-color: beige;
  margin-bottom: 5px;
  transition: transform 1s;
}

.lightgraysquare {
  height: 50px;
  width: 50px;
  background-color: lightgray;
  margin-bottom: 5px;
  transition: transform 4s;
}

.orangesquare {
  height: 50px;
  width: 50px;
  background-color: orange;
  margin-bottom: 5px;
  transition: transform 1s;
}

.blacksquare {
  height: 50px;
  width: 50px;
  background-color: black;
  margin-bottom: 5px;
  transition: transform 4s;
}
