body {background-color: #fff7f7}

#Aniq {
  color: 494949;
}

h1 {
	font-family: Arial Black, Arial Bold, Gadget, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
