body {
  width: 850px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background-color: #2bcdc0;
  height: 375px;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  color: white;
  font-size: 30px;
}

.flex-contents {
  display:flex;
  background-color: #1b1b1b;
  color: white;
  height: 324px;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
}

.column {
  width: 200px;
}

.bluebox {
  background-color: #33a8dd;
  height: 30px;
  width: 215px;
}

.orangebox {
  background-color: #f36730;
  height: 30px;
  width: 215px;
}

.greenbox {
  background-color: #2bcdc0;
  height: 30px;
  width: 215px;
}

h2 {
  font-size: 30px;
}
