header {
  display: flex;
  background-color: #2bcdc0;
  color: white;
  justify-content: center;
}

main {
  display: flex;
  background-color: black;
}

@media (min-width: 992px) {
  header, main {
    width: 100%;
  }
}
