body {
    background-image: url("https://memegenerator.net/img/instances/35584640/would-i-rather-be-feared-or-loved-easy-both-i-want-people-to-be-afraid-of-how-much-they-love-me.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
