.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 25px;
  /* grid-template-areas:
    ".box1"
    ".box2"
    ".box3"
    ".box4"
    ".box5"
    ".box6"
    ".box7"
    ".box8"
    ".box9"
    ".box10" */
}


.box1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 3;
  display: flex
}

.box1image {
  width: 325px;
  height: 325px;
  margin-right: 8px;
  border-radius: 10%;
}

.box2 {
  grid-column: 3 / span 2;
  grid-row: 1 / 3;
  display: flex;
}

.box2image {
  width: 325px;
  height: 325px;
  margin-right: 8px;
  border-radius: 10%;

}

.box3 {
  background-color: red;
  grid-column: 1 / 3;
  grid-row: 3 / span 3;

}

.box3image {
  width: 98.5%;
  height: 450px;
  margin: 5px;
}

.box4 {
  background-color: yellow;
  grid-column: 3;
  grid-row: 3 / span 2;

}

.box5 {
  background-color: gray;
  grid-column: 4;
  grid-row: 3 / span 2;
}

.box6 {
  background-color: purple;
  grid-column: 3 / span 2;
  grid-row: 5;
}

.box7 {
  background-color: orange;
  grid-column: 1;
  grid-row: 6 / span 2;
}

.box8 {
  background-color: lightgray;
  grid-column: 2;
  grid-row: 6 / span 2;
}

.box9 {
  background-color: green;
  grid-column: 3;
  grid-row: 6 / span 2;
}

.box10{
  background-color: brown;
  grid-column: 4;
  grid-row: 6 / span 2;
}

header {
  padding-bottom: 40px;
}
