.flex-container {
  display: flex;
  justify-content: space-around;
}

/* Underline for Navbar heading */
h2 {
  border-bottom: solid gray 1px;
}

.article2 {
  width: 500px;
  margin-right: 10px;
}

.article1 {
  width: 1600px;
  /* border: solid red 1px; */
}

/* Technology */
h4 span{
  background-color: #4d4d4d;
  color: white;
  font-weight: normal;
  padding: 5px;
}

img {
  height:90%;
  width: 90%;
}
